
#explore{background-color:#C34C39;background-image:url("../images/event-bg.jpg");background-position:center bottom;background-size:contain;background-repeat:no-repeat;position:relative;overflow:hidden;padding:130px 0 100px;}
.watch{position:absolute;left:0;top:7%;}
#explore h2{font-size:42px;text-transform:uppercase;text-align:center;}
#countdown{display:block;overflow:hidden;text-align:center;padding:0}
#countdown li{list-style:none;display:inline-block;margin-right:40px;text-align:center;text-transform:uppercase;font-size:18px;position:relative;}
#countdown li:last-child{margin-right:0}
#countdown li span{display:block;font-size:40px;font-weight:700;height:82px;line-height:79px;width:75px;border-radius:10px;border-right:1px solid #9e3e2e;border-bottom:1px solid #9e3e2e;}
#countdown li .days{background-color:#45b29d;border-top:1px solid #6ac1b1;border-left:1px solid #6ac1b1;}
#countdown li .hours{background-color:#efc94c;border-top:1px solid #f2d470;border-left:1px solid #f2d470;}
#countdown li .minutes{background-color:#e27a3f;border-top:1px solid #e89565;border-left:1px solid #e89565;}
#countdown li .seconds{background-color:#df5a49;border-top:1px solid #e57b6d;border-left:1px solid #e57b6d;}
#countdown li:before{background-color:#FFFFFF;content:"";height:11px;left:0;position:absolute;top:36px;width:1px;}
#countdown li:after{background-color:#FFFFFF;content:"";height:11px;right:0;position:absolute;top:36px;width:1px;}
.cart{background-color:#b34534;position:absolute;right:-200px;top:37%;width:252px;-webkit-transition:all 0.7s ease-in-out;-moz-transition:all 0.7s ease-in-out;-ms-transition:all 0.7s ease-in-out;-o-transition:all 0.7s ease-in-out;transition:all 0.7s ease-in-out;}
.cart:hover{right:0;}.cart a{color:#FFFFFF;display:block;font-size:24px;text-transform:uppercase;}
.cart a i{font-size:30px;padding:20px 12px;background-color:#A64030;margin-right:3px;}

/* VENUE */

#venue {
	padding-top:0;
	padding-bottom:110px;
}

#venue .venue {
	background-image: url(../img/img4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	height:600px;
	margin-bottom:110px;
	display:table;
	width:100%;
}

#venue .venue .venue-inner {
	color:#b0b0b0;
	background:rgba(0,0,0, 0.7);
	display:table-cell;
	vertical-align:middle;
	
}

.venue-inner h2 {
	color:#ffffff;
	margin-top:0;
}

#venue h2:after {
	content: "";
  	display: block;
  	width: 60px;
  	height: 3px;
 	background-color: #fac42b;
 	margin-top: 12px;
  	margin-bottom: 15px;
}

#venue h3 {
	margin-top:10px;
}

#venue h3:after {
	content: "";
  	display: block;
  	width: 60px;
  	height: 3px;
 	background-color: #fac42b;
 	margin-top: 12px;
  	margin-bottom: 15px;
}

.venue-inner h4 {
	color:#ffffff;
}

#venue i {
	color:#fac42b;
}

.venue-inner .lead {
	color:#b0b0b0;
}

.venue-info {
	margin-bottom:45px;
}

